@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Lustria');

html {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    background-color: #fffff4;
}

h1{
    font-family: 'Lustria', serif;
    font-size: 60pt;
    font-weight: 100;
}

#header {
    /*background-image:url("media/img/bookshelf_computer.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;*/
    max-width: 100%;
    height: 100vh;
    color: #fffff4;
    overflow: hidden;
    white-space: nowrap;
}

#header #header-background {
    background-image:url("media/img/bookshelf_computer.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 103vh;
    width: 101vw;
    float: left;
    z-index: 0;
    filter: blur(5px) brightness(0.6);
    margin: -10px -10px 20px -10px;
}

#header #title {
    margin: 0 auto;
    position: absolute;
    top: 20vh;
    width: 100%;
}

#header #title h1, #header #title h3{
    text-align: center;
    margin-bottom: 0;
    font-size: 90pt;
    line-height: 0.9em;
}

#header #title h3 {
    margin-top: 0px;
    font-weight: 100;
    font-size: 38pt;
}

#title h3::before, #title h3::after{
    content: " ";
    /*background-color: #fffff4;*/
    background: linear-gradient(to right, #fffff4, rgba(255,255,239, 0.9) 60%, rgba(255,255,239,0));
    height: 2px;
    width: 2.6em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.3em;
}

#title h3::before {
    background: linear-gradient(to left, #fffff4, rgba(255,255,239, 0.9) 60%, rgba(255,255,239,0));
}

#header-nav {
    margin: 3em auto;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: #fffff4;
    font-weight: 300;
    font-size: 48pt;
    margin: 0 0.5em;
}

a:hover {
    border-bottom: 2px solid #fffff4;
}

#nav {
    padding: 12px 15px 10px 15px;
    background-color: #333331;
}

#nav, #nav-clearfix {
    height: 56px;
}

#nav h1 {
    font-size: 48pt;
    font-weight: 100;
    display: inline;
    color: #fffff4;
    margin: 0;
    margin-right: 0.4em;
    line-height: 0.9em;
}

#nav a {
    font-size: 30pt;
    margin: 0 0.3em;
    border-bottom-width: 1px;
}

#nav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.maxpagewidth {
    max-width: 1200px;
    margin: 0 auto;
}

#main {
    padding: 5px 15px 10px 15px;
    background-color: #fffffa;
    box-shadow: 0 0 18x0px rgba(51, 51, 48, 0.2);
}

.post {
    width: 100%;
    margin-bottom: 20px;
}

.post>h1 {
    color: #333331;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 42pt;
    margin-top: 0;
    margin-bottom: 18px;
}

.post>h1::after {
    background: linear-gradient(to right, #333331, rgba(255,255,239, 0.0) 90%);
    content: " ";
    display: block;
    height: 2px;
    width: 100%;
    
}

.post p {
    margin-top: 2px;
}